#skills {
  background: #303f9f;
  color: #fff;
  width: 100%;
  float: left;
  margin-top: -7px; }

.no-scroll {
  overflow: hidden; }

.menu {
  background: #ff9800;
  color: #fff; }

body,
html {
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box; }

body {
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Arial, sans-serif; }

.carousel-item {
  background: #fff;
  cursor: e-resize;
  margin-top: 30px; }

.warning {
  border-bottom: 1px solid #f00 !important;
  color: #f00 !important; }

a:hover {
  text-decoration: none; }

.sombra {
  text-shadow: 0 1px 1px #006064; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em;
  margin: 20px 0 40px;
  font-weight: 900;
  font-family: "Lobster Two", Arial, sans-serif; }

h3 {
  font-size: 1.5em;
  margin-bottom: 20px; }

ul,
p {
  font-size: 1.1em; }

p {
  margin-bottom: 20px; }

#portfolio .navbar-header {
  float: left; }

.azul {
  color: #00b9e4; }

.vermelho {
  color: #f9461c; }

a.logo {
  font-family: "Lobster Two", Arial, sans-serif;
  font-size: 1.6em;
  color: #fff; }

p {
  font-family: 'Noto Sans', Arial, sans-serif; }

.direita {
  float: right; }

.bold {
  font-weight: bold; }

nav {
  box-shadow: none;
  background: none;
  line-height: 59px; }

ul.side-nav {
  background: #303f9f; }
  ul.side-nav li {
    border-bottom: 1px solid #3F51B5; }
  ul.side-nav li:hover {
    background: #3F51B5; }

nav#menu-principal {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999; }
  nav#menu-principal ul {
    float: right;
    font-family: "Lobster Two", Arial, sans-serif; }
    nav#menu-principal ul li a {
      color: #fff;
      font-size: 1em;
      font-family: 'Roboto', Arial, sans-serif; }
  nav#menu-principal .nav-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    max-width: 1660px; }

.navbar {
  border: none; }

#oquefazemos,
#clientes,
#contato,
#layouts {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -100px; }

#oquefazemos {
  margin-top: -60px; }

.fontwhite {
  color: #fff; }

#customers .row {
  margin: 0 auto;
  width: 80%; }

.box {
  padding: 40px 0; }

.hide {
  display: none; }

.show {
  display: block; }

.container {
  width: 90%;
  max-width: 1600px; }

#customers {
  background: #303f9f;
  padding: 40px 0; }
  #customers .carousel {
    height: 150px; }
  #customers .thumbnail .col {
    background: #fff;
    border: 5px solid #303f9f; }
  #customers .thumbnail img {
    width: 80%;
    margin: 0 auto;
    display: block; }

.modal-alert .bg-alert {
  background: #000;
  position: absolute;
  height: 100%;
  opacity: 0.8;
  width: 100%;
  z-index: 999999999; }
.modal-alert .alert {
  background: #ff9800;
  width: 300px;
  padding: 10px 5px;
  top: 25%;
  margin-left: -150px;
  left: 50%;
  z-index: 9999999999;
  position: absolute; }
  .modal-alert .alert .close {
    font-size: 18px;
    position: absolute;
    margin: 10px 10px 0 0;
    right: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
    margin: 6px 10px 0 0;
    text-shadow: 0px 1px 1px #666;
    font-family: "Lobster Two", Arial, sans-serif; }
.modal-alert .alert-success p, .modal-alert .alert-danger p {
  float: left;
  width: 65%;
  color: #fff;
  margin-left: 10px;
  margin-top: 25px;
  font-size: 18px;
  line-height: 22px;
  text-shadow: 0px 1px 1px #666;
  font-family: "Roboto", Arial, sans-serif; }
.modal-alert .alert-success .circle, .modal-alert .alert-danger .circle {
  width: 85px;
  border: 4px solid #fff;
  height: 85px;
  float: left; }
  .modal-alert .alert-success .circle img, .modal-alert .alert-danger .circle img {
    width: 100%; }

.parallax img {
  width: 100%; }

.parallax-top,
.parallax-design,
.parallax-footer {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: 100%; }

.parallax-design {
  height: 300px; }

.parallax-footer {
  height: 500px; }

#inicio {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.bg {
  width: 100%;
  height: 100%;
  max-height: 100%; }
  .bg img {
    width: 100%; }

#who {
  background: #ff9800 url("../images/orange.jpg") no-repeat;
  background-size: 100%; }
  #who a {
    color: #fff; }
  #who p {
    text-shadow: 0px 2px 2px #303F9F;
    color: #fff;
    font-size: 1.7em;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.3em !important;
    font-weight: 900; }
  #who .perfil {
    margin-top: 45px;
    margin-right: 40px;
    float: right; }
  #who .circle {
    width: 200px;
    height: 200px; }
  #who .tools .fa,
  #who .tools h2,
  #who .tools p {
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 1px #006064;
    font-weight: 400; }
  #who .tools h2 {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0; }
  #who .row .col.s1 {
    width: 10%; }

.circle {
  border: 8px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  overflow: hidden; }
  .circle img {
    max-width: 100%; }

#inicio,
.banner {
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  #inicio h1,
  #inicio p,
  .banner h1,
  .banner p {
    font-family: "Lobster Two", Arial, sans-serif;
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 60px !important;
    text-shadow: 0 1px 2px black;
    opacity: 0.8;
    font-size: 4em; }
  #inicio p,
  .banner p {
    font-size: 2.2em;
    font-family: "Roboto", Arial, sans-serif; }
  #inicio .title,
  .banner .title {
    z-index: 9;
    position: absolute;
    width: 100%;
    top: 38%; }
    #inicio .title h1,
    .banner .title h1 {
      margin-bottom: 20px; }

.banner .title {
  top: 0; }
  .banner .title h1 {
    margin-top: 5%; }
.banner p {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.3em !important;
  font-weight: 900; }

#layouts {
  margin-top: -60px; }

#quemsou {
  margin-top: -60px;
  float: left; }

footer {
  background: #303f9f;
  width: 100%;
  float: left; }
  footer .row #contact {
    width: 100%; }
    footer .row #contact .material-icons,
    footer .row #contact label {
      color: #fff; }
    footer .row #contact label i.material-icons.prefix {
      margin-top: -10px; }
    footer .row #contact label span {
      margin-left: 40px; }
    footer .row #contact input,
    footer .row #contact textarea {
      border-bottom: 1px solid #fff;
      color: #fff;
      background: #404D9E;
      padding-left: 10px; }
    footer .row #contact #enviar {
      width: 100%;
      font-weight: bold;
      text-shadow: 0 1px 1px #006064; }
    footer .row #contact #enviar:hover {
      opacity: 0.8; }

#action-button {
  bottom: 75px;
  right: 10px; }

#arrow-up {
  bottom: 10px;
  right: 10px; }
  #arrow-up .btn-large {
    background: #303F9F; }

.mobile {
  display: none; }

.whatdo {
  margin: 70px 0; }
  .whatdo i {
    margin-bottom: 20px; }

#process {
  background: #303f9f; }
  #process .bx-wrapper {
    margin: 0 auto 30px; }
    #process .bx-wrapper .bx-controls-direction a {
      top: auto;
      margin-top: -120px; }
    #process .bx-wrapper .bx-next {
      right: 100px; }
    #process .bx-wrapper .bx-prev {
      left: 100px; }
    #process .bx-wrapper .bx-viewport {
      background: #3F51B5;
      border: none;
      width: 100%;
      box-shadow: none;
      height: 200px !important; }
      #process .bx-wrapper .bx-viewport ul.processo {
        padding: 40px 0 0 0; }
        #process .bx-wrapper .bx-viewport ul.processo li {
          text-align: center;
          color: #fff; }
          #process .bx-wrapper .bx-viewport ul.processo li h3 {
            font-size: 2em; }
          #process .bx-wrapper .bx-viewport ul.processo li p {
            font-size: 1.5em;
            line-height: 1.4em; }
    #process .bx-wrapper .bx-pager {
      background: #303f9f; }
    #process .bx-wrapper .bx-pager.bx-default-pager a {
      background: #3F51B5; }
    #process .bx-wrapper .bx-pager.bx-default-pager a.active {
      background: #fff; }

.bx-pager.bx-default-pager a.active {
  background: #fff; }

body.portfolio {
  background: #f0f0f0; }
  body.portfolio nav {
    background: #ff9800;
    margin-bottom: 20px; }
  body.portfolio .bx-wrapper {
    width: 100%;
    border: none;
    box-shadow: none; }
    body.portfolio .bx-wrapper img {
      margin: 0 auto; }
    body.portfolio .bx-wrapper .bx-viewport {
      border: none;
      box-shadow: none;
      background: #f0f0f0; }
    body.portfolio .bx-wrapper .bx-controls-direction a {
      position: fixed; }

@media screen and (min-width: 768px) and (max-width: 990px) {
  #inicio {
    height: auto; }
    #inicio .title {
      top: 0;
      margin-top: 25%; }

  #who {
    background-size: 200%; }
    #who .box {
      padding-top: 20px; }
    #who .circle {
      margin: 0 auto; }
    #who .perfil {
      margin: 0 0 40px 0;
      float: none; }
    #who .row .title {
      margin-top: 0; }
    #who .row .col.m4 {
      width: 100%; }
    #who .row .col.m6 {
      width: 50%; }

  #customers .row {
    width: 98%; }
  #customers .thumbnail .col {
    border: 3px solid #303f9f; }
  #customers .thumbnail .col.m6 {
    width: 33%; } }
@media screen and (min-width: 320px) and (max-width: 767px) {
  #inicio .title {
    margin-top: 20%;
    top: 0; }
    #inicio .title h1 {
      font-size: 3em;
      margin-bottom: 0px; }
    #inicio .title p {
      font-size: 1.6em; }

  #skills .whatdo {
    margin-top: 0; }
    #skills .whatdo .col.s4 {
      width: 100%;
      margin-top: 40px; }

  #begin #process .limiter {
    width: 90%;
    margin: 0 auto; }
  #begin #process .bx-controls-direction {
    display: none; }

  #customers {
    padding: 10px 0 0 0; }
    #customers .thumbnail {
      display: none; }

  #who .tools {
    display: none; }

  #who {
    background-size: 200%; }
    #who .box {
      padding-top: 20px; }
    #who .circle {
      margin: 0 auto;
      width: 120px;
      height: 120px;
      border: 4px solid #fff; }
    #who .perfil {
      margin: 0 0 40px 0;
      float: none; }
    #who .row .title {
      margin-top: 0; }
    #who .row .col.m4 {
      width: 100%; }
    #who .row .col.m6 {
      width: 50%; }

  .mobile {
    display: block;
    margin-top: 40px; }

  footer #contact .col.s6 {
    width: 100%; } }
@media only all and (max-width: 990px) {
  .container {
    width: 95%; }
    .container .row {
      margin-left: 0;
      margin-right: 0; }

  #process .bx-wrapper .bx-next {
    right: 10px; }
  #process .bx-wrapper .bx-prev {
    left: 10px; } }
@media screen and (min-width: 320px) and (max-width: 480px) {
  .parallax img {
    min-width: 110%; }

  .parallax-design {
    height: 200px; }

  .box {
    padding: 20px 0; }

  .carousel {
    height: 230px; }

  #customers {
    padding: 20px 0 0 0; }

  #inicio .title {
    margin-top: 20%;
    top: 0;
    margin-top: 20%; }
    #inicio .title h1 {
      font-size: 2em;
      line-height: 40px !important; }
    #inicio .title p {
      display: none; }

  h2 {
    font-size: 1.5em;
    margin: 0 0 20px; }

  h3 {
    font-size: 1.2em;
    margin-bottom: 10px; }

  .fa-4x {
    font-size: 2em; }

  #who {
    background: orange; }
    #who p {
      font-size: 1.3em;
      margin-bottom: 15px; }

  #process .limiter {
    width: 80%; }
  #process .bx-wrapper .bx-next {
    right: 0; }
  #process .bx-wrapper .bx-prev {
    left: 0; }
  #process .bx-wrapper .bx-viewport ul.processo li p {
    font-size: 1em; }
  #process .bx-wrapper .bx-viewport ul.processo li h3 {
    font-size: 1.2em; } }

/*# sourceMappingURL=estilo-sass.css.map */
