@import 'variables.scss';
*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 20px;
}

li{
	list-style: none;
}
span,p,li,a,label{
	color:$highlight;
}

header{
	border: none;
	margin: 0;
}
.icon-theme{
	color: $white;
}

.add{
    position: fixed;
    bottom: 0;
    right: 0;
}

.list{
	background-color: $theme-light;
	input[type='text']{
		color:$theme;
		outline: none;
	}
	input[type='text']{
		opacity: 1;
	}
	nav{
		.brand-logo{
			font-size: 16px;
		}
		.nav-wrapper{
			background-color:$theme;
			.button-collapse{
				i{
					font-size: 1.5em;
				}
			}
		}
	}
}
.tasks{
	ul{
		&.task-list{
			margin-bottom: 100px;
			li{
				margin-bottom: 10px;
				padding: 10px 0;
			    border-bottom: 1px dashed $theme;
			    .icon-theme{
					color: $highlight;
				}

				[type="checkbox"]+label{
					max-width: 85%;
					&.done-true{
						text-decoration: line-through;
						color: rgba($highlight,0.8);
						font-style: italic;
						
					}
				}
			}
		}
	}
}


.modal{

	background-color: $white;
	form{
		&.todo-form{
			input[type='text']{
				padding: 0 0 10px 0;
			    height: auto;
			}
		}
	}
	.btn{
		&:hover,&:focus{
			background-color: $white;
			box-shadow: none;
		}
	}
}
