<!DOCTYPE html>
<html ng-app="ToDo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="bower_components/material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="dist/css/styles.min.css">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  </head>

  <body class="list" ng-controller="todoController">
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo left">MyTasks</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">more_vert</i></a>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Sobre o Desenvolvedor</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Encerrar Sessão</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="search-task" ng-hide="!todos.length">
      <div class="had-container">
        <div class="row">
          <div class="col s12">
            <form>
              <div class="input-field">
                <input type="text" ng-model="search" placeholder="buscar">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


    <section class="count-task" ng-hide="!todos.length">
      <div class="had-container">
        <div class="row">
          <div class="col s12">
            <span>{{ remaining() }} de {{ todos.length }} tarefas restantes</span>
          </div>
        </div>
      </div>
    </section>

    <section class="load">
      <div class="loader">   
            <div class="loading"></div>
        </div>
    </section>

    <section class="tasks">
      <div clas="had-container">
        <div class="row">
          <div class="col s12">
            <ul class="task-list">
              <li data-ng-repeat="todo in todos | filter:search track by $index">
                <input type="checkbox" id="{{'check-'+ $index }}" data-ng-click="completed()" data-ng-model="todo.done" />
                <label for="{{'check-'+ $index }}" class="done-{{ todo.done }}" data-ng-click="completed()">{{ todo.text }}</label>
                <span  data-ng-show="todo.done" data-ng-click="delete($index)"><i class="material-icons right icon-theme">delete</i></span>
              </li>
              <li ng-hide="todos.length">Sem tarefas <i class="material-icons right icon-theme">done</i></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <section class="add">
        <div clas="had-container">
          <div class="row">
            <div class="col s12">
              <a class="btn-floating btn-large waves-effect waves-light btn-theme" id="edit" href="#modal1"><i class="material-icons">mode_edit</i></a>
            </div>
          </div>
        </div>
      </section>
      <section class="add-task">
        <div id="modal1" class="modal bottom-sheet">
          <div class="had-container">
 
                <div class="modal-content">
                  <form  class="todo-form">
                    <div class='row'>
                      <div class="col s10">
                        <div class="input-field">
                          <input type="text" data-ng-model="todoText" id="textarea1" placeholder="Minha nova tarefa é ..." class="materialize-textarea" >
            <!--               <label for="textarea1">Minha nova tarefa é ...</label> -->
                        </div>
                      </div>
                      <div class="col s2">
                        <button class="btn-floating btn-large waves-effect waves-light btn-theme" ng-disabled="!todoText"  data-ng-click="addTodo()">
                          <i class="material-icons icon-theme">done</i>
                        </button> 
                      </div>
                    </div>
                            
<!--                     <button class="btn waves-effect waves-light no-button right" ng-disabled="!todoText" data-ng-click="todoText = ''" type="reset">
                      <i class="material-icons icon-theme">delete</i>
                    </button>
                    <button class="btn waves-effect waves-light right no-button right" id="close-add-task" data-ng-click="todoText = ''" ng-disabled="!todoText" type="reset">
                      <i class="material-icons icon-theme">clear</i>
                    </button> -->
                  </form>

            </div>
          </div>
        </div>
      </section>
    </footer>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="assets/js/modules.js"></script>
    <script type="text/javascript" src="assets/js/index.js"></script>
  </body>
</html> 